<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">Device Informations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <div id="container">
    <ion-button (click)="onScan()">Scan</ion-button>
    <div class="list" [hidden]="listShows">
      <ion-item *ngFor="let item of infos; let i = index">
        <ion-row>
          <ion-col><ion-label>{{item.key}}</ion-label></ion-col>
          <ion-col><ion-label>{{item.value}}</ion-label></ion-col>
        </ion-row>
      </ion-item>
    </div>
  </div>
</ion-content>
